.MeteoriteList {
  max-width: 90%;
  margin: auto;
}

table {
  min-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  padding: .75em;
}
tr#theader {
  background-color: rgb(245, 184, 113);
}

tr {
  border-bottom: 1px solid rgb(230, 230, 230)
}

tr:nth-child(even) {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) {
  background-color: rgb(255, 255, 255)
}
